/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/FilmLogger/target
/FilmLogger/nbproject/
/FilmLogger/filmlogger.db
/FilmLogger/laskarit/viikko2/Maksukortti/build/
/FilmLogger/laskarit/viikko2/Maksukortti/nbproject/private/
/FilmLogger/laskarit/viikko2/Unicafe/target/
/FilmLogger/laskarit/viikko2/Unicafe/nbproject/
/nbproject/
/target/